# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Dependências do ambiente
.env

# Diretórios e arquivos temporários
tmp/
temp/

# Build output
dist/
build/

# Banco de dados
*.sqlite
*.db

# Sistema de cache do editor
.idea/
.vscode/

#GDRIVE FOLD
public/GDRIVE
public/lote

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de IDE (se aplicável)
*.swp
*.swo    
